countries.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="regions" type="regionsType"/>
  <xs:complexType name="countryType">
    <xs:sequence>
      <xs:element type="xs:string" name="COUNTRY_NAME"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="countriesType">
    <xs:sequence>
      <xs:element type="countryType" name="country" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="countries_listType">
    <xs:sequence>
      <xs:element type="countriesType" name="countries"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="regionType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="countries_listType" name="countries_list"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="regionsType">
    <xs:sequence>
      <xs:element type="regionType" name="region" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
